@font-face {
  font-family: 'Arial';
  src: url('../../assets/fonts/ArialMT.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arial';
  src: url('../../assets/fonts/Arial-ItalicMT.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Georgia';
  src: url('../../assets/fonts/Georgia.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html {
  scroll-behavior: smooth;
}
body {
  color: $color-dark-l;
  font-family: 'Georgia';
  font-weight: 400;
  font-style: normal;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
._container {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
}
.block-container {
  padding: 81px 40px 101px;
}
.main {
  flex: 1 1 auto;
}
.block-title {
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}
.button {
  cursor: pointer;
  user-select: none;
  border: 2px solid $color-primary;
  color: $color-dark-3xl;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  transition: all 0.25s;
  &:hover {
    background-color: $color-primary-light;
    border-color: $color-primary-light;
  }
  &__round {
    height: 52px;
    width: 52px;
    border-radius: 50%;
  }
  &__square {
    padding: 13px 43px;
    border-radius: 100px;
  }
}
@media (max-width: 1279px) {
  ._container {
    padding: 0 calc(30px + (40 - 30)*(100vw - 768px)/(1279 - 768));
  }
  .block-container {
    padding: 80px calc(30px + (40 - 30)*(100vw - 768px)/(1279 - 768)) 100px;
  }
}
@media (max-width: 767px) {
  ._container {
    padding: 0 calc(10px + (30 - 10)*(100vw - 320px)/(767 - 320));
  }
  .block-container {
    padding: calc(42px + (80 - 42)*(100vw - 320px)/(767 - 320)) 10px;
  }
  .block-title {
    font-size: calc(25px + (35 - 25)*(100vw - 320px)/(767 - 320));
    text-align: center;
  }
}